
.container{
    min-width: 1000px ;
    min-height: 600px;
}
.containerBig{
    min-width: 1200px ;
    min-height: 750px;
}

h1{
    font-family: 'B612';
    letter-spacing: 2px;
    font-weight: 800;
}
h2{
    font-family: 'B612';
    letter-spacing: 2px;
    font-weight: 600;
}
h3{
    font-family: 'B612';
}
h4{
    font-family: 'B612';
}
h5{
    font-family: 'B612';
}
p{
    font-family: 'Alegreya Sans';
    font-size:14px;
    letter-spacing: 1px;
    
}
.separator {
    height: 10vh;
}
.bigSeparator {
    height: 20vh;
}
.separatorSmall{
    height: 5vh;
}
/* FOOTER */
footer {
    background-color: #fff;
}
.footer div {
    text-align: center;
    align-items: center;
}
.h5-footer{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'B612', serif;
}

.fa-hand-point-down{
    color: #022429;
    font-size: 30px;
    animation: handfooter 1s ease-in-out infinite;
    line-height: 1.5 !important;
    /* animation-delay: calc(0.1s * var(--i)); */
}
.numberViews{
    font-family: 'B612';
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
}
.wavy .spanWavy{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: handfooter 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes handfooter{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}

/* LOADER INDEX */
.preload {
    width:100%;
    height: 100%;
    background:#333;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}

.logo {
    width:320px;
    height: 70px;
    margin: 150px auto 50px auto;
    font-size: 30px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color:azure;
    font-family: fantasy;
}

.loader-frame{
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;
}
.loader1, .loader2 {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;

}

.loader1 {
    width: 70px;
    height: 70px;
    border-top: 5px solid azure;
    border-bottom: 5px solid azure;
    animation: loader 2s linear 3;

}
.loader2 {
    width: 60px;
    height: 60px;
    border-left: 5px solid darkblue;
    border-right: 5px solid darkblue;
    top:5px;left:5px;
    animation: antiloader 2s linear 3;
}
@keyframes loader{
    from{transform: rotate(0deg);}
    to{transform:rotate(360deg);}
}
@keyframes antiloader{
    from{transform: rotate(0deg);}
    to{transform:rotate(-360deg);}
}
@keyframes fadeout{
    from{opacity : 1;}
    to{opacity: 0;}
}


.wavy {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(
        transparent, rgba(0,0,0,0.2));
}

.wavy .spanWavy{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}

.containerCardd {
    position: relative;
}
.containerCardd .cardd {
position: relative;
width: 320px;
height: 450px;
background: #232323;
border-radius: 20px;
overflow: hidden;
}

.containerCardd .cardd:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: #FF7A37;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.containerCardd .cardd:hover:before{
    clip-path: circle(300px at 80% -20%);
}

.containerCardd .cardd:after{
    content:'Riot';
    position: absolute;
    top:36%;
    left:-12%;
    font-size: 10em;
    font-weight: 800;
    font-style: italic;
    color: #FF7A37;
}

.containerCardd .cardd .imgBx {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.containerCardd .cardd:hover .imgBx{
    top:0%;
    transform: translateY(10%);
    color:red;
}
/* .container .cardd:hover .imgBx p{
    color:red;
} */

/* .container .cardd .imgBx p {
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-50%, -50%)rotate(-25deg);
    width:270px ;
    color:transparent;
    font-size: 40px;
} */
.containerCardd .cardd .imgBx img {
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-50%, -50%)rotate(-25deg);
    width:270px ;
    /* color:transparent;
    font-size: 40px; */
}
.containerCardd .cardd .contentBx{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.containerCardd .cardd:hover .contentBx{
    height: 240px;
}
.containerCardd .cardd .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.containerCardd .cardd .contentBx .size,
.containerCardd .cardd .contentBx .color {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.containerCardd .cardd:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.containerCardd .cardd:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.containerCardd .cardd .contentBx .size h3,
.containerCardd .cardd .contentBx .color h3 {
    color:#fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;


}

.containerCardd .cardd .contentBx .size span{
    width:26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display:inline-block;
    color:red;
    background:#fff;
    margin:0 5px;
    transition: 0.5s;
    color:#111;
    border-radius: 4px;
    cursor: pointer;

}

.containerCardd .cardd .contentBx .size span:hover{
    background: #9bdc28;
}
.containerCardd .cardd .contentBx .color span {
    width:20px ;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;

}

.containerCardd .cardd .contentBx .color span:nth-child(2){
    background: #9bdc28;
}
.containerCardd .cardd .contentBx .color span:nth-child(3){
    background: #FF0719;
}
.containerCardd .cardd .contentBx .color span:nth-child(4){
    background: #FFEB00;
}
.containerCardd .cardd .contentBx a {
    display:inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color:#111;
    opacity:0;
    transform: translateY(50px);
    transition: 0.5s;
}
.containerCardd .cardd:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}
/* DISPLAY CONTENT TEST */
.contentTestBox{
    height: 60vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display:flex;
    margin: 0px !important;
    
}
.test-separator{
    width:2px;
    border-left:1px dashed #0a2a43;
    margin: 0px 10px;
    height: 100%;

}
.content-test{
    height: 80%;
    width: 80%;
    background: #fff;
    border-radius:5%;
    box-sizing: border-box;
    padding: 15px 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.content-test:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.content-test h3 {
    font-size: 18px;
    font-family: 'B612';
    letter-spacing: 1px;
    text-transform: uppercase;
}
.content-test p {
    font-size:16px;
    font-family:'Alegreya Sans' ;
    letter-spacing: 2px;
    padding-left:4%;
}

/* PARALAX */

.paralaxHome{
   padding-right: 0px !important;
   padding-left: 0px !important;
}
    
.sectionParalax{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sectionParalax:before{
    content:'';
    position: absolute;
    bottom:0;
    width:100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 1000;

}
.sectionParalax:after{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background:  #0a2a43;
    z-index: 1000;
    mix-blend-mode: color;

}

.sectionParalax img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text {
    position: relative;
    color:#fff;
    font-size: 10em;
    z-index: 1;
    font-family: 'IBM Plex Sans';
}
#road{
 z-index: 2;
}

/* BOX HOME */

.homeBx {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* background:#0a2a43; */
}

.containerBox{
    position: relative;
    width: 1000px !important;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.containerBox .card {
    position: relative;
    display:flex;
    flex-direction: column;
    /* background: #fff; */
    margin: 2px 2px;
}

.containerBox .card:nth-child(even){
    flex-direction: column-reverse;
}
.containerBox .card .imgBoxHome {
    position: relative;
    width: 100%;
    height: 250px;
    background: #000;
}

.containerBox .card .imgBoxHome img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerBox .card .contentCardHome {
position: relative;
width: 250px;
height: 250px;
display:flex;
justify-content: center;
align-items: center;

}

.containerBox .card .contentCardHome div {
    padding: 20px;
    text-align: center;

}

.card{
    transition: 0.5s ease-in;
}
.card:hover{
    opacity:.5;
    transition: 0.5s ease-in;
}

@media (max-width: 1040px)
{
    .containerBox {
      grid-template-columns: repeat(auto-fit, minmax(100%,1fr));
      margin:50px;
    }
    .containerBox .card {
        flex-direction: row;
        margin: 10px 0px;
    }
    .containerBox .card:nth-child(even){
        flex-direction: row-reverse;
    }
    .containerBox .card .imgBoxHome,
    .containerBox .card .contentCardHome {
        width: 50%;
    }
    
}

@media (max-width : 600px){
    .containerBox .card {
        flex-direction: column;
        margin: 10px 0;
    }
    .containerBox .card:nth-child(even){
        flex-direction: column;
    }
    .containerBox .card .imgBoxHome,
    .containerBox .card .contentCardHome{
        width: 100% ;
    }
    .containerBox .card .contentCardHome {
        height: 250px;
    }
    .dropdown {
        width: 54% !important;
    }
    .container{ 
        min-width: 100%;
        min-height: 600px;
    }
}

/*  NAVBAR */

.navHeader {
    z-index: 1500;
    background-color: #232323;
    transition: all .4s ease-in;
    height: 8vh;

 
}
.navHeader .navbar-brand{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    font-family: 'IBM plex sans';
}
.nav-link{
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: .5s;
    font-family: 'B612';

}

.black{
    height: 7vh !important;
    background: #000 !important;
    transition: all .6s ease-in;
}
.unroledNav{
    height: auto !important;
    transition: all .5s ease-in;
}

.logoutBtn {
    font-family: 'B612';
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    color:#DEDEDE !important;
    transition: all .4s ease-in;
    cursor: pointer;
    padding:1.5rem;
}


.logoutBtn-box{
    border:1px solid #FFFFFF;
    border-radius: 10%;
    background-color:grey;
    transition: .4s ease-in;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .logoutBtn:hover{
    color:#fff !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .logoutBtn-box:hover{
    background-color:#525557 !important;

}

@media(max-width: 850px){
    .nav-link{
        font-size:14px !important;
        letter-spacing: .5px !important;
    }
    .container{ 
        min-width: 100%;
        min-height: 600px;
    }
}
@media(max-width:580px){
    .navbar {
        height: auto !important;
    }
    .logoNav {
        position:fixed;
        top:0;
        margin-top:10px;
        color:#fff;
    }

    .navBar ul {
        max-height: 0px;
        background: #000;
        }

    .navBar.black ul {
        background: #000;
    }
    .showing {
        max-height: 20em !important;
    }

    .navBar ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }
    .navBar ul li a {
        color: #fff;
    }
    .menu-icon {
        display:block;
    }
    .logoutBtn-box{
       width: 8vh !important;
       text-align: center;
    }
    .btn-style-1{
        left:90% !important;
    }
    .btn-style-2{
        left:85% !important;
        top:85% !important;
    }
    .dropdown {
        width: 54% !important;
    }
    .container{
        min-width: 350px;
        min-height: 600px;
    }
}

/* MODAL ON NAVBAR */

.modal-body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-body h3 {
    text-align: center;
}
/* TEST NEO BTN  */
.neonBtn{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color:#2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none !important;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;

}

.neonBtn:hover{
    color:#255784;
    background:#2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.neonBtn span {
    position:absolute;
    display:block
}
.neonBtn span:nth-child(1){
    top:0;
    left:-100%;
    width:100%;
    height: 2px;
    background:linear-gradient(90deg, transparent,#2196f3)
}
.neonBtn:hover span:nth-child(1){
    left:100%;
    transition:1s;
}
.neonBtn span:nth-child(3){
    bottom:0;
    right:-100%;
    width:100%;
    height: 2px;
    background:linear-gradient(270deg, transparent,#2196f3)
}
.neonBtn:hover span:nth-child(3){
    right:100%;
    transition:1s;
    transition-delay:0.5s
}
.neonBtn span:nth-child(2){
    top:-100%;
    right:0;
    width:2px;
    height: 100%;
    background:linear-gradient(180deg, transparent,#2196f3)
}
.neonBtn:hover span:nth-child(2){
    top:100%;
    transition:1s;
    transition-delay: 0.5s;
}
.neonBtn span:nth-child(4){
    bottom:-100%;
    left:0;
    width:2px;
    height: 100%;
    background:linear-gradient(360deg, transparent,#2196f3)
}
.neonBtn:hover span:nth-child(4){
    bottom:100%;
    transition:1s;
    transition-delay: 0.75s;
}

/* SOCIAL MEDIA */

/* .s-m{
    position: absolute;
    top:50%;
    left:50%;
    transform: scale(-50%, -50%);

} */
.s-m a {
    display:inline-flex;
    width:40px;
    height: 40px;
    background:#022429;
    color:#fff;
    margin:0 6px;
    border-radius:50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size:18px;
}

.s-m a .icn-sc-media {
    transition:0.4s all  ;
}

.s-m a:hover {
    background: #009EFF;
    color:#fff !important;
    text-decoration: none !important;
}

.s-m a:hover > .icn-sc-media {
    transform:scale(1.6) rotate(25deg);
    color:#fff;
    text-decoration: none !important;
}

/* BUTTON  */

.btn-style-1 {
    transform:translate(-50%, -50%);
    text-transform: uppercase;
    text-decoration: none;
    left:50%;
    top:50%;
    position: relative;
    color:#fff;
    letter-spacing: 2px;
    font-size:16px;
    font-family: 'IBM Plex Sans', bold;
    font-weight: 400;
    background-color: #232323;
    padding:6px 12px;
    border:none;
}

.btn-style-1:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:#009DFF;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}

.btn-style-1:hover:before{
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
    
}
.btn-style-1:after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:transparent;
    z-index: -1;
    border: 2px solid #fff;
    box-sizing: border-box;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}
.btn-style-1:hover:after{
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}
.btn-style-2 {
    transform:translate(-50%, -50%);
    text-transform: uppercase;
    text-decoration: none;
    left:95%;
    top:50%;
    position: absolute;
    color:#fff;
    letter-spacing: 2px;
    font-size:16px;
    font-family: 'IBM Plex Sans', bold;
    font-weight: 400;
    background-color: #232323;
    padding:6px 12px;
    border:none;
}
.btn-style-2:hover{
    color: #fff !important;
    text-decoration: none !important;
}
.btn-style-2:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:#DE0000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}

.btn-style-2:hover:before{
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
    
}
.btn-style-2:after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:transparent;
    z-index: -1;
    border: 2px solid #fff;
    box-sizing: border-box;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}
.btn-style-2:hover:after{
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}

/* TEST SLIDER HORIZONTAL PAGE */
.sliderHorizontal{
    display:flex;
    justify-content: center;
}
.hi-slide {
    position: relative;
    width: 1200px;
    height: 292px;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top:100%;
    width: 50px;
    height: 50px;
    margin-top: -20px;
    border-radius:50%;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color:black;
    transition: all 0.7s;
    font-size:20px;
    font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
    opacity: 1;
    background-color: white;
}

.hi-slide .hi-prev{
    left: -70px;

}

.hi-slide .hi-prev::before{
    content:'<';
}

.hi-slide .hi-next {
    right:-70px;
}

.hi-slide .hi-next::before{
    content:'>';
}
.hi-slide >ul {
    list-style:none;
    position: relative;
    width: 1200px;
    height: 292px;
    margin: 0;
    padding: 0;
}

.hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left:377px;
    top:147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border:3px solid white;
    background:#333;
    cursor:pointer;
}

.hi-slide >ul >li >img {
    width:100%;
    height: 100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}