    /* POTENTIEL COULEUR CSS THEME 
#1968BD
#3D7BBD
#1A4370
#BD7A06
#737373 */
    
    .display-none {
        display: none !important;
    }
    
    html {
        scroll-behavior: smooth;
    }
    /* .container {
        min-width: 1000px;
        min-height: 600px;
    } */
    
    .containerBig {
        min-width: 1200px;
        min-height: 750px;
    }
    
    .container-full-width {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    
    h1 {
        font-family: 'B612';
        letter-spacing: 2px;
        font-weight: 800;
        text-transform: uppercase;
    }
    
    h2 {
        font-family: 'B612';
        letter-spacing: 2px;
        font-weight: 600;
        text-transform: capitalize;
    }
    
    h3 {
        font-family: 'B612';
    }
    
    h4 {
        font-family: 'B612';
    }
    
    h5 {
        font-family: 'B612';
    }
    
    p {
        font-family: 'Alegreya Sans';
        font-size: 16px;
        letter-spacing: 1px;
    }
    
    .separator {
        height: 10vh;
    }
    
    .bigSeparator {
        height: 20vh;
    }
    
    .separatorSmall {
        height: 5vh;
    }
    /* FOOTER */
    
    footer {
        background-color: #fff;
    }
    
    .footer div {
        text-align: center;
        align-items: center;
    }
    
    .h5-footer {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        font-family: 'B612', serif;
    }
    
    .fa-hand-point-down {
        color: #022429;
        font-size: 30px;
        animation: handfooter 1s ease-in-out infinite;
        line-height: 1.5 !important;
        /* animation-delay: calc(0.1s * var(--i)); */
    }
    
    .numberViews {
        font-family: 'B612';
        font-size: 24px;
        font-weight: 800;
        letter-spacing: 1px;
    }
    
    .wavy .spanWavy {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        animation: handfooter 1s ease-in-out infinite;
        animation-delay: calc(0.1s * var(--i));
    }
    
    @keyframes handfooter {
        0% {
            transform: translateY(0px);
        }
        20% {
            transform: translateY(-20px);
        }
        40%,
        100% {
            transform: translateY(0px);
        }
    }
    /* LOADER INDEX */
    
    .preload {
        width: 100%;
        height: 100%;
        background: #333;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .logo {
        width: 320px;
        height: 70px;
        margin: 150px auto 50px auto;
        font-size: 30px;
        text-shadow: -1px 2px 2px #000;
        text-align: center;
        color: azure;
        font-family: fantasy;
    }
    
    .loader-frame {
        width: 70px;
        height: 70px;
        margin: auto;
        position: relative;
    }
    
    .loader1,
    .loader2 {
        position: absolute;
        border: 5px solid transparent;
        border-radius: 50%;
    }
    
    .loader1 {
        width: 70px;
        height: 70px;
        border-top: 5px solid azure;
        border-bottom: 5px solid azure;
        animation: loader 2s linear 3;
    }
    
    .loader2 {
        width: 60px;
        height: 60px;
        border-left: 5px solid darkblue;
        border-right: 5px solid darkblue;
        top: 5px;
        left: 5px;
        animation: antiloader 2s linear 3;
    }
    
    @keyframes loader {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    @keyframes antiloader {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }
    
    @keyframes fadeout {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    
    .wavy {
        position: relative;
        -webkit-box-reflect: below -12px linear-gradient( transparent, rgba(0, 0, 0, 0.2));
    }
    
    .wavy .spanWavy {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        animation: animate 1s ease-in-out infinite;
        animation-delay: calc(0.1s * var(--i));
    }
    
    @keyframes animate {
        0% {
            transform: translateY(0px);
        }
        20% {
            transform: translateY(-20px);
        }
        40%,
        100% {
            transform: translateY(0px);
        }
    }
    
    .containerCardd {
        position: relative;
    }
    
    .containerCardd .cardd {
        position: relative;
        width: 320px;
        height: 450px;
        background: #232323;
        border-radius: 20px;
        overflow: hidden;
    }
    
    .containerCardd .cardd:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FF7A37;
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out;
    }
    
    .containerCardd .cardd:hover:before {
        clip-path: circle(300px at 80% -20%);
    }
    
    .containerCardd .cardd:after {
        content: 'Riot';
        position: absolute;
        top: 36%;
        left: -12%;
        font-size: 10em;
        font-weight: 800;
        font-style: italic;
        color: #FF7A37;
    }
    
    .containerCardd .cardd .imgBx {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        width: 100%;
        height: 220px;
        transition: 0.5s;
    }
    
    .containerCardd .cardd:hover .imgBx {
        top: 0%;
        transform: translateY(10%);
        color: red;
    }
    /* .container .cardd:hover .imgBx p{
    color:red;
} */
    /* .container .cardd .imgBx p {
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-50%, -50%)rotate(-25deg);
    width:270px ;
    color:transparent;
    font-size: 40px;
} */
    
    .containerCardd .cardd .imgBx img {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%)rotate(-25deg);
        width: 270px;
        /* color:transparent;
    font-size: 40px; */
    }
    
    .containerCardd .cardd .contentBx {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 10;
    }
    
    .containerCardd .cardd:hover .contentBx {
        height: 240px;
    }
    
    .containerCardd .cardd .contentBx h2 {
        position: relative;
        font-weight: 600;
        letter-spacing: 1px;
        color: #fff;
    }
    
    .containerCardd .cardd .contentBx .size,
    .containerCardd .cardd .contentBx .color {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
    }
    
    .containerCardd .cardd:hover .contentBx .size {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
    }
    
    .containerCardd .cardd:hover .contentBx .color {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.6s;
    }
    
    .containerCardd .cardd .contentBx .size h3,
    .containerCardd .cardd .contentBx .color h3 {
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 10px;
    }
    
    .containerCardd .cardd .contentBx .size span {
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        font-size: 14px;
        display: inline-block;
        color: red;
        background: #fff;
        margin: 0 5px;
        transition: 0.5s;
        color: #111;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .containerCardd .cardd .contentBx .size span:hover {
        background: #9bdc28;
    }
    
    .containerCardd .cardd .contentBx .color span {
        width: 20px;
        height: 20px;
        background: #ff0;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }
    
    .containerCardd .cardd .contentBx .color span:nth-child(2) {
        background: #9bdc28;
    }
    
    .containerCardd .cardd .contentBx .color span:nth-child(3) {
        background: #FF0719;
    }
    
    .containerCardd .cardd .contentBx .color span:nth-child(4) {
        background: #FFEB00;
    }
    
    .containerCardd .cardd .contentBx a {
        display: inline-block;
        padding: 10px 20px;
        background: #fff;
        border-radius: 4px;
        margin-top: 10px;
        text-decoration: none;
        font-weight: 600;
        color: #111;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.5s;
    }
    
    .containerCardd .cardd:hover .contentBx a {
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 0.75s;
    }
    /* DISPLAY CONTENT TEST */
    
    .contentTestBox {
        height: 60vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0px !important;
    }
    
    .test-separator {
        width: 2px;
        border-left: 1px dashed #0a2a43;
        margin: 0px 10px;
        height: 100%;
    }
    
    .content-test {
        height: 80%;
        width: 80%;
        background: #fff;
        border-radius: 5%;
        box-sizing: border-box;
        padding: 15px 15px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    
    .content-test:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    
    .content-test h3 {
        font-size: 18px;
        font-family: 'B612';
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .content-test p {
        font-size: 16px;
        font-family: 'Alegreya Sans';
        letter-spacing: 2px;
        padding-left: 4%;
    }
    /* PARALAX */
    
    .paralaxHome {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    
    .sectionParalax {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sectionParalax:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, #0a2a43, transparent);
        z-index: 1000;
    }
    
    .sectionParalax:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0a2a43;
        z-index: 1000;
        mix-blend-mode: color;
    }
    
    .sectionParalax img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
    
    #text {
        position: relative;
        color: #fff;
        font-size: 10em;
        z-index: 1;
        font-family: 'IBM Plex Sans';
    }
    
    #road {
        z-index: 2;
    }
    /* BOX HOME */
    
    .homeBx {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        /* background:#0a2a43; */
    }
    
    .containerBox {
        position: relative;
        width: 1000px !important;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    .containerBox .card {
        position: relative;
        display: flex;
        flex-direction: column;
        /* background: #fff; */
        margin: 2px 2px;
    }
    
    .containerBox .card:nth-child(even) {
        flex-direction: column-reverse;
    }
    
    .containerBox .card .imgBoxHome {
        position: relative;
        width: 100%;
        height: 250px;
        background: #000;
    }
    
    .containerBox .card .imgBoxHome img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .containerBox .card .contentCardHome {
        position: relative;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .containerBox .card .contentCardHome div {
        padding: 20px;
        text-align: center;
    }
    
    .card {
        transition: 0.5s ease-in;
    }
    
    .card:hover {
        opacity: .5;
        transition: 0.5s ease-in;
    }
    
    @media (max-width: 1040px) {
        .containerBox {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
            margin: 50px;
        }
        .containerBox .card {
            flex-direction: row;
            margin: 10px 0px;
        }
        .containerBox .card:nth-child(even) {
            flex-direction: row-reverse;
        }
        .containerBox .card .imgBoxHome,
        .containerBox .card .contentCardHome {
            width: 50%;
        }
    }
    
    @media (max-width: 600px) {
        .containerBox .card {
            flex-direction: column;
            margin: 10px 0;
        }
        .containerBox .card:nth-child(even) {
            flex-direction: column;
        }
        .containerBox .card .imgBoxHome,
        .containerBox .card .contentCardHome {
            width: 100%;
        }
        .containerBox .card .contentCardHome {
            height: 250px;
        }
        .dropdown {
            width: 54% !important;
        }
        .container {
            min-width: 100%;
            min-height: 600px;
        }
    }
    /*  NAVBAR */
    
    .opacity-zero {
        opacity: 0;
    }
    
    .opacity-one {
        opacity: 1 !important;
    }
    
    .navHeader {
        z-index: 1500;
        /* background-color: #232323; */
        transition: all .4s ease-in;
        height: 8vh;
        /* border-bottom: 1px solid #FFFFFF; */
    }
    
    .navHeader .navbar-brand {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 30px;
        font-weight: 800;
        line-height: 24px;
        font-family: 'IBM plex sans';
    }
    
    .nav-link {
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: capitalize;
        transition: .5s;
        font-family: 'B612';
        color: #FFFFFF !important;
        font-weight: 400;
        line-height: 24px;
    }
    
    .navbar-dark .navbar-nav .active>.nav-link,
    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link.show,
    .navbar-dark .navbar-nav .show>.nav-link {
        color: #BD7A06 !important;
    }
    
    .black {
        height: 7vh !important;
        background: #737373 !important;
        transition: all .6s ease-in;
        border-bottom: 1px #000000 !important;
    }
    /* .nav-cv{
    height: 7vh !important;
    background: transparent !important;
    transition: all .6s ease-in;
    border-bottom:1px #000000 !important;
} */
    
    .unroledNav {
        height: auto !important;
        transition: all .5s ease-in;
    }
    
    .logoutBtn {
        font-family: 'B612';
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0.3px;
        color: #DEDEDE !important;
        transition: all .4s ease-in;
        cursor: pointer;
        padding: 1.5rem;
    }
    
    .logoutBtn-box {
        border: 1px solid #FFFFFF;
        border-radius: 10%;
        background-color: grey;
        transition: .4s ease-in;
    }
    
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .logoutBtn:hover {
        color: #fff !important;
    }
    
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .logoutBtn-box:hover {
        background-color: #525557 !important;
    }
    
    @media(max-width: 850px) {
        .nav-link {
            font-size: 14px !important;
            letter-spacing: .5px !important;
        }
        .container {
            min-width: 100%;
            min-height: 600px;
        }
    }
    
    @media(max-width:580px) {
        .navbar {
            height: auto !important;
        }
        .logoNav {
            position: fixed;
            top: 0;
            margin-top: 10px;
            color: #fff;
        }
        .navBar ul {
            max-height: 0px;
            background: #000;
        }
        .navBar.black ul {
            background: #000;
        }
        .showing {
            max-height: 20em !important;
        }
        .navBar ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px 0;
            text-align: center;
        }
        .navBar ul li a {
            color: #fff;
        }
        .menu-icon {
            display: block;
        }
        .logoutBtn-box {
            width: 8vh !important;
            text-align: center;
        }
        .btn-style-1 {
            left: 90% !important;
        }
        .btn-style-2 {
            left: 85% !important;
            top: 85% !important;
        }
        .dropdown {
            width: 54% !important;
        }
        .container {
            min-width: 350px;
            min-height: 600px;
        }
    }
    /* MODAL ON NAVBAR */
    
    .modal-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .modal-body h3 {
        text-align: center;
    }
    /* TEST NEO BTN  */
    
    .neonBtn {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: #2196f3;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none !important;
        font-size: 24px;
        overflow: hidden;
        transition: 0.2s;
    }
    
    .neonBtn:hover {
        color: #255784;
        background: #2196f3;
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
        transition-delay: 1s;
    }
    
    .neonBtn span {
        position: absolute;
        display: block
    }
    
    .neonBtn span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #2196f3)
    }
    
    .neonBtn:hover span:nth-child(1) {
        left: 100%;
        transition: 1s;
    }
    
    .neonBtn span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #2196f3)
    }
    
    .neonBtn:hover span:nth-child(3) {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s
    }
    
    .neonBtn span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #2196f3)
    }
    
    .neonBtn:hover span:nth-child(2) {
        top: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }
    
    .neonBtn span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #2196f3)
    }
    
    .neonBtn:hover span:nth-child(4) {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }
    /* SOCIAL MEDIA */
    /* .s-m{
    position: absolute;
    top:50%;
    left:50%;
    transform: scale(-50%, -50%);

} */
    
    .s-m a {
        display: inline-flex;
        width: 40px;
        height: 40px;
        background: #022429;
        color: #fff;
        margin: 0 6px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        font-size: 18px;
    }
    
    .s-m a .icn-sc-media {
        transition: 0.4s all;
    }
    
    .s-m a:hover {
        background: #009EFF;
        color: #fff !important;
        text-decoration: none !important;
    }
    
    .s-m a:hover>.icn-sc-media {
        transform: scale(1.6) rotate(25deg);
        color: #fff;
        text-decoration: none !important;
    }
    /* BUTTON  */
    
    .btn-style-1 {
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        text-decoration: none;
        left: 50%;
        top: 50%;
        position: relative;
        color: #fff;
        letter-spacing: 2px;
        font-size: 16px;
        font-family: 'IBM Plex Sans', bold;
        font-weight: 400;
        background-color: #BD7A06;
        padding: 6px 12px;
        border: none;
    }
    
    .btn-style-1:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #3D7BBD;
        z-index: -1;
        transition: transform 0.5s;
        transform-origin: bottom right;
        transform: scale(0);
    }
    
    .btn-style-1:hover:before {
        transition: transform 0.5s;
        transform-origin: top left;
        transform: scale(1);
    }
    
    .btn-style-1:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: -1;
        border: 2px solid #fff;
        box-sizing: border-box;
        transition: transform 0.5s;
        transform-origin: top left;
        transform: scale(1);
    }
    
    .btn-style-1:hover:after {
        transition: transform 0.5s;
        transform-origin: bottom right;
        transform: scale(0);
    }
    
    .btn-style-2 {
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        text-decoration: none;
        left: 95%;
        top: 50%;
        position: absolute;
        color: #fff;
        letter-spacing: 2px;
        font-size: 16px;
        font-family: 'IBM Plex Sans', bold;
        font-weight: 400;
        background-color: #232323;
        padding: 6px 12px;
        border: none;
    }
    
    .btn-style-2:hover {
        color: #fff !important;
        text-decoration: none !important;
    }
    
    .btn-style-2:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #DE0000;
        z-index: -1;
        transition: transform 0.5s;
        transform-origin: bottom right;
        transform: scale(0);
    }
    
    .btn-style-2:hover:before {
        transition: transform 0.5s;
        transform-origin: top left;
        transform: scale(1);
    }
    
    .btn-style-2:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: -1;
        border: 2px solid #fff;
        box-sizing: border-box;
        transition: transform 0.5s;
        transform-origin: top left;
        transform: scale(1);
    }
    
    .btn-style-2:hover:after {
        transition: transform 0.5s;
        transform-origin: bottom right;
        transform: scale(0);
    }
    /* TEST SLIDER HORIZONTAL PAGE */
    
    .sliderHorizontal {
        display: flex;
        justify-content: center;
    }
    
    .hi-slide {
        position: relative;
        width: 1200px;
        height: 292px;
    }
    
    .hi-slide .hi-next,
    .hi-slide .hi-prev {
        position: absolute;
        top: 100%;
        width: 50px;
        height: 50px;
        margin-top: -20px;
        border-radius: 50%;
        line-height: 45px;
        text-align: center;
        cursor: pointer;
        background-color: white;
        color: black;
        transition: all 0.7s;
        font-size: 20px;
        font-weight: bold;
    }
    
    .hi-slide .hi-next:hover,
    .hi-slide .hi-prev:hover {
        opacity: 1;
        background-color: white;
    }
    
    .hi-slide .hi-prev {
        left: -70px;
    }
    
    .hi-slide .hi-prev::before {
        content: '<';
    }
    
    .hi-slide .hi-next {
        right: -70px;
    }
    
    .hi-slide .hi-next::before {
        content: '>';
    }
    
    .hi-slide>ul {
        list-style: none;
        position: relative;
        width: 1200px;
        height: 292px;
        margin: 0;
        padding: 0;
    }
    
    .hi-slide>ul>li {
        overflow: hidden;
        position: absolute;
        z-index: 0;
        left: 377px;
        top: 147px;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        border: 3px solid white;
        background: #333;
        cursor: pointer;
    }
    
    .hi-slide>ul>li>img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* TEST SLIDER 3D */
    
    .swiper-container {
        width: 100%;
        height: 100vh;
        padding-top: 20%;
        padding-bottom: 50px;
        background-color: #000000;
    }
    
    .swiper-slide {
        background-position: center;
        background-size: contain;
        width: 300px;
        height: 300px;
        background: #000;
        -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
    
    .swiper-slide .imgBoxSlide {
        width: 100%;
        height: 300px;
        overflow: hidden;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
    
    .swiper-slide .imgBoxSlide img {
        width: 100%;
    }
    
    .swiper-slide .slideDetails {
        box-sizing: border-box;
        padding: 20px;
    }
    
    .swiper-slide .slideDetails h3 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: 'B612';
        text-align: center;
        line-height: 20px;
    }
    
    .swiper-slide .details h3 span {
        font-size: 16px;
        color: #f44336;
    }
    
    .swiper-pagination-bullet {
        background: #fff !important;
    }
    
    .swiper-button-prev {
        color: #fff;
    }
    
    .swiper-button-next {
        color: #fff;
    }
    /* TEST CONTAINER EFFECT */
    
    .containerSeparatorEffect {
        height: 1vh;
        margin: 15px 0px;
    }
    
    .separatorEffectLeft {
        display: flex;
        position: relative;
        height: 100%;
        background-color: red;
        border-right: 1px solid red;
        border-top-right-radius: 35%;
        border-bottom-right-radius: 35%;
        margin-right: auto;
    }
    
    .separatorEffectRight {
        height: 100%;
        background-color: red;
        display: flex;
        position: relative;
        border-right: 1px solid red;
        border-top-left-radius: 35%;
        border-bottom-left-radius: 35%;
        margin-left: auto;
    }
    
    .containerSeparatorEffect .row {
        height: 100%;
        width: 100%;
        margin: 0px !important;
    }
    /* BLOCK DISPLAY CONTENT TITLE FROM LEFT first block home */
    
    .container-try {
        height: 80vh;
        background-color: #FFFFFF;
    }
    
    .container-try .row {
        height: 100%;
        width: 100%;
    }
    
    .container-try .row .titleEffect {
        display: flex;
        writing-mode: vertical-rl;
        text-orientation: upright;
        justify-content: center;
        align-items: center;
        border-right: 2px solid #BD7A06;
        /* vertical-align: middle;
    text-align: center; */
    }
    
    .container-try .row .col-md-2 h1 {
        flex: 0 0 160px;
        letter-spacing: 2vh;
        font-size: 12vh !important;
    }
    
    .container-try .row .col-md-10 {
        margin: auto;
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    
    .container-try .row .col-md-10 .textEffect {
        justify-content: center;
        align-items: center;
        display: flex;
        border-bottom: 2px solid #1968BD;
        width: 100%;
    }
    
    .container-try .row .col-md-10 p {
        font-size: 16px;
        font-family: 'Alegreya Sans';
        line-height: 3rem;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .col-md-10 .column .secondTitleEffect h3 {
        width: 80%;
        text-transform: uppercase;
        font-weight: 600;
        color: #1A4370 !important;
    }
    
    .btn-orange {
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: #BD7A06 !important;
        display: flex;
        position: relative;
        width: 14vh;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border: 1px solid #BD7A06;
        border-radius: 5%;
        color: #FFFFFF;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        font-family: 'IBM Plex Sans';
        font-size: 16px;
        letter-spacing: 0.1rem;
    }
    
    .btn-orange:hover {
        background-color: #FFFFFF!important;
        color: #BD7A06;
    }
    /* CSS FOR ONE PAGE STYLE CV  */
    
    .text-para {
        height: 100vh !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/image/code-para-2.jpg);
        /* -webkit-background-size: cover; */
        background-position: center center;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        background-size: cover;
        transition: .2s;
    }
    
    .text-para h1 {
        /* color: #BD7A06 !important; */
        color: #FFFFFF !important;
        font-size: 20vh !important;
    }
    
    .section-one-page {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .section-one-page:nth-child(odd)
{
    background: #ccc;
} */
    
    .content-one {
        background-color: #FFFFFF;
    }
    
    .content-two {
        /* background-color:grey; */
        padding: 20px 20px;
        justify-content: center;
        align-items: center;
    }
    
    .text-about-me {
        height: 80%;
        margin: auto;
    }
    
    .content-two>p {
        justify-content: center;
    }
    
    .section-one-page .row {
        height: 100%;
        width: 100%;
    }
    
    .section-one-page .row .image-content-cv {
        background-position: center;
        background-size: cover;
        background-image: url("/image/thomas-jaune2.jpg");
        background-repeat: no-repeat;
        border-radius: 0px 10px 10px 0px;
    }
    
    .title-about-me {
        display: flex;
        width: 32%;
        padding: 1% 3%;
        text-transform: uppercase;
        border-bottom: 2px solid #1A4370 !important;
    }
    
    .title-about-me h1 {
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .10em solid #BD7A06;
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em;
        /* Adjust as needed */
        animation: typing 2s steps(40, end), blink-caret .65s step-end infinite;
    }
    
    .text-about-me h3 {
        padding: 2% 7%;
    }
    
    .text-about-me p {
        width: 80%;
        margin: auto;
        padding: 2% 5%;
    }
    
    @keyframes typing {
        from {
            width: 0
        }
        to {
            width: 100%
        }
    }
    
    @keyframes blink-caret {
        from,
        to {
            border-color: transparent
        }
        50% {
            border-color: #BD7A06;
        }
    }
    
    .section-card {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* margin: 20px 0; */
        height: 100vh;
    }
    
    .section-card .card {
        position: relative;
        height: 300px;
        display: flex;
        width: 45%;
        margin: 30px 0;
        background: #fff;
        opacity: 1 !important;
    }
    
    .section-card .card .img-card-one-page {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
        background: #333;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }
    
    .section-card .card:hover .img-card-one-page {
        width: 150px !important;
        height: 150px !important;
        left: -75px;
        top: calc(50% - 75px);
        transition: 0.5s ease-in-out;
        background: #BD7A06;
        opacity: 1 !important;
    }
    
    .section-card .card .img-card-one-page:before {
        content: attr(data-text);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 6em;
        color: rgba(255, 255, 255, .05);
        font-weight: 700;
    }
    
    .section-card .card .img-card-one-page img {
        max-width: 100px;
        transition: 0.5s ease-in-out;
    }
    
    .section-card .card:hover .img-card-one-page img {
        max-width: 75px;
    }
    
    .section-card .card .content-card-one-page {
        position: absolute;
        right: 0;
        width: calc(100% - 75px);
        height: 100%;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .section-card .card .content-card-one-page h3 {
        margin-bottom: 5px;
    }
    
    .section-card .card .content-card-one-page a {
        display: inline-block;
        margin-top: 10px;
        padding: 5px 10px;
        background: #333;
        text-decoration: none;
        color: #fff;
    }
    
    @media (max-width:992px) {
        .section-card {
            width: 100% !important;
            align-items: center;
            justify-content: center;
        }
        .section-card .card {
            width: 400px;
        }
    }
    
    @media (max-width: 790px) {
        .section-card {
            margin-top: 10%;
            height: auto;
        }
        .section-card .card {
            max-width: 300px;
            flex-direction: column;
            height: auto;
        }
        .section-card .card .img-card-one-page {
            position: relative;
        }
        .section-card .card .img-card-one-page,
        .section-card .card:hover .img-card-one-page {
            width: 100% !important;
            height: 200px !important;
            left: 0;
        }
        .section-card .card .img-card-one-page img,
        .section-card .card:hover .img-card-one-page img {
            max-width: 100px;
        }
        .section-card .card .content-card-one-page {
            position: relative;
            width: 100%;
        }
        .text-about-me {
            height: 200px;
            height: 100% !important;
        }
    }
    /* BTN BOTTOM TO TOP  */
    
    #topBtn {
        position: fixed;
        bottom: 40px;
        right: 40px;
        width: 50px;
        height: 50px;
        background: #BD7A06;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        display: none;
        z-index: 10000000;
    }
    /* TIME LINE CV ONE PAGE */
    
    .timeline {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 1200px;
        position: relative;
    }
    
    .timeline__content-title {
        font-weight: normal;
        font-size: 66px;
        margin: -10px 0 0 0;
        transition: 0.4s;
        padding: 0 10px;
        box-sizing: border-box;
        font-family: 'IBM Plex Sans';
        color: #fff;
    }
    
    .timeline__content-desc {
        margin: 0;
        font-size: 15px;
        box-sizing: border-box;
        color: rgba(59, 59, 59, .7);
        font-family: 'Alegreya Sans';
        font-weight: normal;
        line-height: 25px;
    }
    
    .timeline:before {
        position: absolute;
        left: 50%;
        width: 2px;
        height: 100%;
        margin-left: -1px;
        content: "";
        background: linear-gradient(124deg, rgba(255, 192, 0, 1) 0%, rgba(7, 176, 193, 1) 59%, rgba(9, 69, 107, 1) 100%);
        ;
    }
    
    @media only screen and (max-width: 767px) {
        .timeline:before {
            left: 40px;
        }
        .timeline {
            max-width: 700px !important;
        }
    }
    
    .timeline-item {
        padding: 40px 0;
        opacity: 0.3;
        filter: blur(2px);
        transition: 0.5s;
        box-sizing: border-box;
        width: calc(50% - 40px);
        display: flex;
        position: relative;
        transform: translateY(-80px);
    }
    
    .timeline-item:before {
        content: attr(data-text);
        letter-spacing: 3px;
        width: 100%;
        position: absolute;
        color: rgba(59, 59, 59, .9);
        font-size: 20px;
        font-family: 'IBM Plex Sans';
        border-left: 2px solid rgba(59, 59, 59, .7);
        top: 70%;
        margin-top: -5px;
        padding-left: 15px;
        opacity: 0;
        right: calc(-100% - 56px);
    }
    
    .timeline-item:nth-child(even) {
        align-self: flex-end;
    }
    
    .timeline-item:nth-child(even):before {
        right: auto;
        text-align: right;
        left: calc(-100% - 56px);
        padding-left: 0;
        border-left: none;
        border-right: 2px solid rgba(59, 59, 59, .8);
        padding-right: 15px;
    }
    
    .timeline-item--active {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0px);
    }
    
    .timeline-item--active:before {
        top: 50%;
        transition: 0.3s all 0.2s;
        opacity: 1;
    }
    
    .timeline-item--active .timeline__content-title {
        margin: -50px 0 20px 0;
    }
    
    @media only screen and (max-width: 767px) {
        .timeline-item {
            align-self: baseline !important;
            width: 100%;
            padding: 0 30px 150px 80px;
        }
        .timeline-item:before {
            left: 10px !important;
            padding: 0 !important;
            top: 50px;
            text-align: center !important;
            width: 60px;
            border: none !important;
        }
        .timeline-item:last-child {
            padding-bottom: 40px;
        }
        .timeline-item:nth-child(even):before {
            font-size: 12px;
            font-weight: 700;
        }
    }
    
    .timeline__img {
        max-width: 100%;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    }
    
    .timeline-container {
        width: 100%;
        position: relative;
        padding: 80px 0;
        transition: 0.3s ease 0s;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .timeline-container:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* background: rgba(0, 0, 0, 0.6); */
        content: "";
    }
    
    .timeline-header {
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
        position: relative;
    }
    
    .timeline-header__title {
        color: #fff;
        font-size: 64px;
        font-family: 'B612';
        font-weight: normal;
        margin: 0;
    }
    
    .timeline-header__subtitle {
        color: rgba(255, 255, 255, .5);
        font-family: 'IBM Plex Sans';
        font-size: 16px;
        letter-spacing: 5px;
        margin: 10px 0 0 0;
        font-weight: normal;
    }
    
    .demo-footer {
        padding: 60px 0;
        text-align: center;
    }
    
    .demo-footer a {
        color: #999;
        display: inline-block;
        font-family: 'Alegreya Sans';
    }
    /* test side menu */
    
    @media (max-width: 991px) {
        #listSideBar {
            width: 100% !important;
            left: 0 !important;
        }
        #inputSideMenu:checked~#listSideBar {
            left: -100% !important;
        }
        #inputSideMenu {
            z-index: 100001 !important;
            outline: none;
            top: 0 !important;
            right: 0 !important;
        }
        #inputSideMenu~.icon-sidebar {
            top: 0;
            right: 0;
            background: #f00;
            transition: 0.5s;
        }
    }
    
    .container-sidebar {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        opacity: 0;
        transition: 1s ease-in;
    }
    
    .side-menu {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    #inputSideMenu {
        position: fixed;
        right: 20px;
        top: 20px;
        width: 50px;
        height: 50px;
        z-index: 100001;
        cursor: pointer;
    }
    
    .icon-sidebar {
        position: fixed;
        right: 20px;
        top: 20px;
        width: 60px;
        height: 60px;
        z-index: 100002;
        background: #000;
        pointer-events: none;
    }
    
    .icon-sidebar:before {
        content: 'close';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        text-align: center;
        line-height: 60px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
    }
    
    #inputSideMenu:checked~.icon-sidebar:before {
        content: 'menu'
    }
    
    #listSideBar {
        position: fixed;
        top: 20%;
        /* top: 0; */
        left: 0;
        padding: 50px 20px;
        margin: 0;
        box-sizing: border-box;
        width: 300px;
        /* height: 100vh; */
        height: auto;
        /* background: #000; */
        transition: 0.5s;
        z-index: 100000;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #listSideBar .elements-list-sidebar {
        list-style: none;
        width: fit-content;
    }
    
    #listSideBar .elements-list-sidebar a {
        display: block;
        color: #000000;
        padding: 10px;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 30px;
        font-weight: 700;
        transition: 0.5s;
        position: relative;
        text-transform: uppercase;
        font-family: 'IBM Plex Sans';
        letter-spacing: 0.5px;
    }
    
    .strike::after {
        content: '';
        width: 5px;
        position: relative;
        height: 3px;
        background: #000000;
        /* bottom: 50%; */
        bottom: 32px;
        -webkit-transition: width 1s;
        -moz-transition: width 1s;
        -o-transition: width 1s;
        transition: width 1s;
        display: flex;
    }
    
    .strike:hover::after {
        width: 100%;
    }
    
    #listSideBar .elements-list-sidebar a:hover {
        color: #BD7A06;
        transform: translateX(10px);
    }
    
    #inputSideMenu:checked~#listSideBar {
        left: -300px;
    }
    
    .section-active {
        color: red !important;
        transition: .5s;
    }
    /* .test {
        color: blue !important;
    } */
    /* SEXTION FIVE  */
    
    #section-four .passions-content {
        position: absolute;
        z-index: 10;
        background: #FFFFFF;
        cursor: pointer;
    }
    
    #section-four .col-md-3 .passions-content:hover~.passions-hidden-text {
        margin-top: 80% !important;
    }
    
    #section-four .passions-hidden-text {
        display: flex;
        position: absolute;
        z-index: 1;
        text-align: center;
        transition: 1s;
        justify-content: center;
        align-items: center;
        padding: 5px 5px;
        font-size: 14px;
        font-weight: 500;
    }
    
    #section-four .passions-hidden-text p {
        width: 80%;
        border-bottom: 2px solid #BD7A06;
        padding-bottom: 5%;
    }
    
    #section-four .column h1 {
        text-align: center;
    }
    
    #section-four .row {
        /* margin: auto auto; */
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #section-four .row img {
        width: 60%;
        height: auto;
        display: flex;
        margin: auto;
    }
    
    #section-four .row .passions-content h2 {
        text-align: center;
        padding: 20px 0px;
    }
    
    #section-four {
        display: inline-block !important;
    }
    
    #section-four .column {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* CONTACT FORM ME */
    
    .form-contact-me {
        max-width: 800px;
        margin: 50px auto;
        position: relative;
        box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.8);
        padding: 30px;
        background: #fff;
    }
    
    .form-contact-me .title-form {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        font-size: 3em;
        line-height: 48px;
        padding-bottom: 20px;
        color: #5543ca;
        background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .contact-me-form .form-field {
        position: relative;
        margin: 32px 0;
    }
    
    .contact-me-form .input-text {
        display: block;
        width: 100%;
        height: 36px;
        border-width: 0 0 2px 0;
        border-color: #5543ca;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        font-family: 'Alegreya Sans';
    }
    
    .contact-me-form .input-text:focus {
        outline: none;
    }
    
    .contact-me-form .label {
        position: absolute;
        left: 20px;
        bottom: 11px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        color: #5543ca;
        cursor: text;
        transition: transform 0.5s ease-in-out;
        text-transform: capitalize;
        font-family: 'IBM Plex Sans';
    }
    
    .contact-me-form .submit-btn {
        display: flex;
        background-image: linear-gradient(125deg, #a72879, #064497);
        text-transform: uppercase;
        color: #fff;
        padding: 8px 16px;
        font-size: 16px;
        border: none;
        width: 200px;
        cursor: pointer;
        font-family: 'B612';
        margin: auto;
        justify-content: center;
    }
    
    .contact-me-form .input-text:focus+.label,
    .contact-me-form .input-text.not-empty+.label {
        transform: translateY(-24px);
    }
    
    #section-five {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: radial-gradient(circle, rgba(255, 154, 53, 1) 0%, rgba(125, 70, 252, 1) 100%);
    }
    /* SOCIAL MEDIA ONE PAGE CV */
    
    .social-media-section {
        height: 30%;
        display: flex;
    }
    
    .social-media-section .container-fluid .row {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    
    .container-social {
        height: 100%;
    }
    
    .container-social-media a {
        width: 80px;
        height: 80px;
        background: #ffffff;
        display: inline-block;
        border-radius: 24px;
        box-shadow: 6px 6px 12px rgb(0, 0, 0, .15), -6px -6px 12px rgb(255, 255, 255, .1);
        overflow: hidden;
        font-size: 28px;
        transition: .3s linear;
        position: relative;
    }
    
    .container-social-media a:hover {
        transform: scale(1.3);
        border-radius: 50%;
    }
    
    .container-social-media a:hover i::before {
        background-position: 0% 0%;
    }
    
    .container-social-media a i::before {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        background-size: 200% 200%;
        background-position: 75% 75%;
        top: 0;
        left: 0;
        line-height: 80px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: .5s linear;
    }
    
    .container-social-media a .fa-facebook-f::before {
        background-image: linear-gradient(135deg, #3b5998 30%, #0a3d62 50%);
    }
    
    .container-social-media a .fa-discord::before {
        background-image: linear-gradient(99deg, rgba(255, 130, 139, 1) 42%, rgba(59, 68, 71, 1) 83%);
    }
    
    .container-social-media a .fa-github::before {
        background-image: linear-gradient(99deg, rgba(191, 231, 255, 1) 42%, rgba(89, 187, 7, 1) 83%);
    }
    
    .container-social-media a .fa-linkedin::before {
        background-image: linear-gradient(99deg, rgba(0, 159, 255, 1) 42%, rgba(51, 255, 205, 1) 83%);
    }